<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>UTRGV</title>
  <link rel="stylesheet" href="https://cdn.pannellum.org/2.3/pannellum.css"/>
    <script type="text/javascript" src="https://cdn.pannellum.org/2.3/pannellum.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script type="text/javascript" src="../public/main.js"></script>


  <style>
  .floating-box {
    display: inline;
    margin: auto;
}
  .key{
    display:block;
    float: left;


  }
  .description{
    float: right;
    width: 50%;
    margin-right: 5px;
    margin-top: 0px;
  }
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
tr:nth-child(even){background-color: #f2f2f2
}

.modalDialog {
        position: fixed;
        font-family: Arial, Helvetica, sans-serif;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0,0,0,0.8);
        z-index: 99999;
        opacity:0;
/*         -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in; */
        transition: opacity 400ms ease-in;
        pointer-events: none;
    }

    .modalDialog:target {
        opacity:1;
        pointer-events: auto;
    }

    .modalDialog > div {
        max-width: 800px;
        max-height: 600px;
        position: relative;
        margin: 5% auto;
        padding: 5px 10px 5px 10px;
        border-radius: 10px;
        background: #fff;

    }

    .close {
        background: #606061;
        color: #FFFFFF;
        line-height: 22px;
        position: absolute;
        right: -10px;
        text-align: center;
        top: -10px;
        width: 20px;
        text-decoration: none;
        font-weight: bold;
/*         -webkit-border-radius: 12px;
        -moz-border-radius: 12px; */
        border-radius: 10px;
/*         -moz-box-shadow: 1px 1px 3px #000;
        -webkit-box-shadow: 1px 1px 3px #000; */
        box-shadow: 1px 1px 2px #000;
    }

    .close:hover { background: #00d9ff; }
</style>
</head>
<body>
<div id="Brownsville" class="tabcontent">
  <table>
    <thead>
      <tr>
        <th>Building</th>
        <th>Room</th>
        <th>Capacity</th>
        <th>Equipment</th>
      </tr>
    </thead>
    <tbody>
      <% for(var i=0; i<mclassrooms.length; i++) {%>
        <tr class="mclassrooms">

          <td class="eclassroom">
            <span><%= mclassrooms[i].building %></span>
          </td>
          <td class="eclassroom">
            <div>
            <p><a href="#openModal<%= mclassrooms[i].number %>" onclick="document.getElementById('ifr<%= mclassrooms[i].number %>').src='<%= mclassrooms[i].image %>';"><%= mclassrooms[i].room %></a></p>
              <div class="modalDialog" id="openModal<%= mclassrooms[i].number %>">
                <div><a class="close" href="#close" title="Close">X</a>
                  <div><iframe allowfullscreen="" height="530" id="ifr<%= mclassrooms[i].number %>" style="border-style: none;" width="730"></iframe></div>
                  <!-- <script>
                    pannellum.viewer('panorama<%= mclassrooms[i].number %>', {
                      "type": "equirectangular",
                      "panorama": "<%= mclassrooms[i].url %>",
                      "autoLoad": true
                    });
                    </script> -->
                  </div>
                </div>
              </div>
            <!-- <span><%= mclassrooms[i].room %></span> -->
          </td>
          <td class="eclassroom">
            <span><%= mclassrooms[i].capacity %></span>
          </td>
          <td class="eclassroom">
            <div>
              <table>
                <tr>
                  <td>ITV</td>
                  <td>Lab Computers</td>
                  <td>Printers</td>
                  <td>Desktop Computer</td>
                  <td>Projector</td>
                  <td>Projector Screens</td>
                  <td>Document Camera</td>
                  <td>Microphone</td>
                  <td>Control Panels</td>

                </tr>
                <tr>
                  <td>
                    <table>
                      <tr>
                        <th>ITV Monitors</th>
                        <th>ITV Speakers</th>
                        <th>ITV Conf Cameras</th>
                      </tr>
                      <tr>
                        <!-- <td><span><%= mclassrooms[i].itv %></span></td> -->
                        <td><span><%= mclassrooms[i].monquant %></span></td>
                        <td><span><%= mclassrooms[i].iTVspeakers %></span></td>
                        <td><span><%= mclassrooms[i].iTVcameras %></span></td>
                      </tr>

                    </table>
                  </td>

                  <td><span><%= mclassrooms[i].computers %></span></td>
                  <td><span><%= mclassrooms[i].printer %></span></td>
                  <td><span><%= mclassrooms[i].desktop %></span><br></td>
                  <td><span><%= mclassrooms[i].projector %></span></td>
                  <td><span><%= mclassrooms[i].projscreen %></span></td>
                  <td><span><%= mclassrooms[i].doccam %></span></td>
                  <td><span><%= mclassrooms[i].microphone %></span></td>
                  <td>
                    <table>
                    <tr>
                      <td><span> <%= mclassrooms[i].controlpanel %></span></td>
                    </tr>
                  </table>
                  </td>

                </tr>
              </table>
            </div>
          </td>


        </tr>

        <% } %>
      </table>
    </tbody>
  </table>

</div>
